<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Change Password</h1>
</div>
<div class="wrapper-md"  ng-controller="UserController">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <form name="form" class="form-validation">
                <div class="panel panel-default">

                    <div class="panel-body">
                        <div class="form-group">
                            <label>Enter Old password</label>
                            <input type="password" class="form-control" ng-model="user.oldpassword" required >
                        </div>
                        <div class="form-group">
                            <label>Enter New password</label>
                            <input type="password" class="form-control" name="password" ng-model="user.newpassword" required  >   
                        </div>
                        <div class="form-group">
                            <label>Confirm password</label>
                            <input type="password" class="form-control" name="confirm_password" required ng-model="user.confirm_password" ui-validate=" '$value==user.newpassword' " ui-validate-watch=" 'user.newpassword' ">
                            <span ng-show='form.confirm_password.$error.validator'>Passwords do not match!</span>
                        </div>


                    </div>
                    <footer class="panel-footer text-right bg-light lter">
                        <button type="submit" class="btn btn-success" ng-disabled="form.$invalid"  ng-click="chgtpwd()">Submit</button>
                    </footer>
                </div>
            </form>
        </div>
    </div>
</div>